
@model IEnumerable<LeaveManagementSystemValueCreed.Models.UsersTable>

@{
    Layout = "";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Employee Details</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        #back-div {
            position: absolute;
            top: 3%;
            left: 5%;
            border: 1px solid #ccc;
            padding: 5px 5px;
            background-color: azure
        }

        #logoff {
            position: absolute;
            right: 5%;
            top: 3%;
            border: 1px solid #ccc;
            padding: 5px 5px;
            background-color: azure
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
</head>
<body>
    <div class="header"> <h2>Employee Details</h2></div>
    @*<div class="table-condensed>*@
    <table class="table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FIRST_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LAST_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMPLOYEE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ALTERNATE_PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMERGENCY_NUMBER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROLES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEPARTMENT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOCATION)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.BLOOD_GROUP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DESCRIPTION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GENDER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manager_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMPLOYEE_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ALTERNATE_PHONE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMERGENCY_NUMBER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ROLES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEPARTMENT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOCATION)
                </td>
           
                <td>
                    @Html.DisplayFor(modelItem => item.BLOOD_GROUP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DESCRIPTION)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GENDER)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manager_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EMPLOYEE_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.EMPLOYEE_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EMPLOYEE_ID }) |

                </td>
            </tr>
        }

    </table>
    @*</div>*@

    <div id="back-div">
        <a href="@Url.Action("Index","admin")">Back To Home</a>
    </div>
    <div id="logoff">
        <a href="@Url.Action("Logoff","Login")">LogOut</a>
    </div>

</body>
</html>

