@model IEnumerable<LeaveManagementSystemValueCreed.Models.manager>

@{
    ViewBag.Title = "View Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Manager</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.promotion_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.promotion_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.manager_emp_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.manager_emp_id }) |
            @Html.ActionLink("Delete", "DeleteManager", new { id=item.manager_emp_id })
        </td>
    </tr>
}

</table>
