@model IEnumerable<LeaveManagementSystemValueCreed.Models.Leave>

@{
    Layout = null;
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        .header {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
        }

        #back-div {
            position: absolute;
            right: 5%;
            top: 5%;
            border: 1px solid #ccc;
            padding: 5px 5px;
            background-color: azure
        }

        #logoff {
            position: absolute;
            left: 5%;
            top: 5%;
            border: 1px solid #ccc;
            padding: 5px 5px;
            background-color: azure
        }
  

    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Leave</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
</head>
<body>
    <div class="header"> <h2 style="text-align:center">Team's Leave Details</h2></div>
    <table class="table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employe_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number_of_Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leave_apply_date)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employe_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End_Date)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leave_apply_date)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
    <div id="back-div">
        <a href="@Url.Action("Index","manager")">Back To Home</a>
    </div>
    <div id="logoff">
        <a href="@Url.Action("Logoff","Login")">LogOut</a>
    </div>
</body>
</html>
