@model IEnumerable<LeaveManagementSystemValueCreed.Models.approval>

@{
    ViewBag.Title = "approvals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Approvals</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leave_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aprrover_id)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leave_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprrover_id)
            </td>

        </tr>
    }

</table>
<div id="back-div">
    <a href="@Url.Action("Index","HR")">Back To Home</a>
</div>
